node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.env
*.log
.gemini/
gha-creds-*.json
images/Screenshots/*
infrastructure/
gemini.md
.vscode/
docker-compose.local.yml
docker-compose.migratelocal.yml

# SQLite
sqlite.db
sqlite.db-shm
sqlite.db-wal
*.db
data/sqlite.db
docker-compose.migratelocal.yml

notes/
